.item-detail {
    background-color: white;
    border: thin solid #d4d1d1;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    height: 95%;
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    padding: 50px 40px;
    width: 70%;
}

.item-detail-img {
    justify-self: center;
    width: 600px;
}

.item-img-desc-container {
    padding: 0 1rem;
    width: 40rem;
}

.item-info-purch-container {
    border: thin solid #d4d1d1;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding: 1rem ;
    width: 25rem;
}

.item-info-purch-container h2 {
    font-size: 26px;
    font-weight: 600;
}