.header-cat-container {
    display: flex;
    justify-content: center;
}

.header-container {
    display: block;
    background-color: #c7eb9a;
}

.nav-link {
    padding-bottom: 0;
}

.nav-link-item {
    border-top: thin solid #565756;
}
