.btn-minus {
    border-radius: .3rem 0 0 .3rem;
}

.btn-plus {
    border-radius: 0 .3rem .3rem 0;
}

.cart-add-btn {
    background-color: rgb(43, 135, 255);
    border: thin solid black;
    border-radius: .2rem;
    color: white;
    margin-bottom: .1rem;
    padding: .5rem;
}

.cart-purch-btn {
    background-color: white;
    border: thin solid black;
    border-radius: .2rem;
    color: rgb(43, 135, 255);
    padding: .5rem;
    text-decoration: none;
}

.form-quant-input {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.quant-input {
    border: thin solid black;
    justify-items: center;
    text-align: center;
    width: 3.5rem;
}

.quant-input-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    width: fit-content;
}

.quant-input-btn {
    align-items: center;
    background-color: rgb(43, 135, 255);
    border: thin solid black;
    color: white;
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin: 0;
    width: 2rem;
}

.quant-input-btn span {
    margin: 0;
    padding: 0;
}



